.background{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.countdown{
    position: absolute;
    
    font-size: 5rem;
    
    color: red;
    
}

body{
    width:50px
}

.img{
    width:5px
}
